
<h1>Pirates</h1>
<h2>Pirate name:<%= @pirate.name %></h2>
<h2>Pirate weight:<%= @pirate.weight %></h2>
<h2>Pirate height:<%= @pirate.height %></h2>

<h1>First Ship</h1>
<% @ships.each do |ship|%>
<h2>Ship name:<%= ship.name %></h2>
<h2>Ship type:<%= ship.type %></h2>
<h2>Ship booty:<%= ship.booty %></h2>



<% end %>
